{% load i18n admin_urls admin_static admin_modify %}
	{% load cooper_folder_tag  %}
	{% human_tag request %}
	{% if not member.is_member %}
		<p>{% trans 'None available' %}</p>
	{% else %}
		<h2>{% trans 'Menú per grups' %}
		{{ member.avatar }}</h2>
		<table width="100%" border=0>
			<tr>
				{% for group_list in member.groups_list %}
					<td>
						<table width="300px" border=0>
							<tr height=27>
								<td width=27>{{group_list.image}}</td> 
								<td><h4>{{group_list.section}}</h4></td>
							</tr>
							<tr> 
								<td colspan=2><span class='mini quiet'>{{group_list.links}}</span></td> 
							</tr> 
						</table>
					</td>
				{% endfor %}
			</tr>
		</table>
	{% endif %}
