{% load i18n %}


{{ widget }}
<p><label id="id_{{name}}_desc" name="id_{{name}}_desc">{{obj_desc}}</label></p>
<p>{% if can_change_related %}
	<a class="related-widget-wrapper-link related-widget-wrapper-change-link changelink" id="edit_id_{{ name }}" data-href-template="{{ change_url_template }}"{% if change_url %} href="{{ change_url }}"{% endif %} title="{{ change_help_text }}">
	{% trans "Edit" %}
	</a>
{% endif %}
{% if can_add_related %}
	<a class="related-widget-wrapper-link related-widget-wrapper-add-link add-related addlink" href="{{ add_url }}" id="add_id_{{ name }}"  title="{{ add_help_text }}">		{% trans "Afegeix" %}
	</a>
{% endif %}
{% if can_delete_related %}
	<a class="related-widget-wrapper-link related-widget-wrapper-delete-link deletelink" id="delete_id_{{ name }}" data-href-template="{{ delete_url_template }}"{% if delete_url %} href="{{ delete_url }}"{% endif %} title="{{ delete_help_text }}">
		{% trans "Borra" %}
	</a>
{% endif %}</p>