{% load i18n admin_urls admin_static admin_modify %}
{{current_human}}
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'profile_type.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'profile_type.css' %}" />


<div class="users">
	<br>
	<u>{% trans "Accions que pots fer:" %}</u>:
		<div class="admin">
			<h4>{{profile_desc}}</h4>
			<label>{% trans "Administrador" %}</label><br>
			<img src="{% static 'Admin_user.png' %}">
			<br>
			<p><label>{% trans "Tipus: " %}{{profile_type}}</label><br></p>
		</div>
	<ul>
	{% if profile_person and user.is_active %}
		
	{% else %}
		{% if user.is_staff %}
			<li>{% trans "Administrar molt i bé" %}</li>
		{% else %}
			<li>{% trans "Procés d'alta" %}</li>
		{% endif %}
	{% endif %}
	{% if profile_project.id > 0 %}
		<li><label>{% trans "Editar dades projecte: "%}</label><a class="changelink" href="{% url 'member:General_project_change' profile_project.id %}?next=public_form">{{profile_project}}</a></li>
	{% endif %}
	{% if membership_fee %}
		<li>{{ membership_fee}}</li>
	{% else %}
		{% if membership_ices %}
			<li>{{ membership_ices}}</li>
		{% endif %}
	{% endif %}
</ul>
		<div class="anon user">
			<h4>{% trans "Usuari: " %} {{profile_desc}}</h4>
			<img id="profile_image" src="{% static 'Anon_user.png' %}"><br>
			<ul>
			 {% block userlinks %} <li> 
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                  <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
					
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                {% if not user.is_anonymous%}
					<a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
				{% else %}
					{% if not user.is_authenticated %}
						{% include "login_short.html" %}
							</li>
					{% else %}
					{% endif %}
				{% endif %}
            {% endblock %}
			{% if user.is_active  %}
            <li>{% block welcome-msg %}
                {% trans 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
			</li>
			{% if profile_user %}
				<li><p><label>{% trans "Desde: "%}</label>{{profile_user.date_joined}}</p></li>
			{% endif %}
        {% endif %}
		</div>
	

	{% for permission in user_permissions %}
		{% if profile_type %}
			<div class="member user">
				<label>{% trans "Perfil: " %}{{profile_desc}}>{{permission.title}}</label><br>
				<img src="{% static permission.title %}_user.png">
				{% if profile_person %}
					<p><label>{% trans "Persona: "%}</label></p><p><a class="changelink" href="{% url 'member:General_person_change' profile_person.id %}?next=public_form">{{profile_person}}</a></p>
				{% endif %}

				<ul class="linksection">
					{% for link in permission.links %}
						<li>{{ link }}</li>	
					{% endfor %}
				</ul>
			</div>
			<div class="forms">
					{% if permission.form and user.is_active and membership and not membership_self and permission.show_form %}
						<li> Editar o consultar el següents camps:
						<br>
						
						<form action="{{permission.action}}" method="POST">
							<table>
								{{permission.form}}
							</table>
							{% if permission.can_edit %}
								<input type="submit" value="{% trans 'Grabar' %}">
							{% endif %}
							{% csrf_token %}
							<input type="hidden" name="form_id" id="form_id" value="{{permission.id}}">
						</form>
						</li>
					{% endif %}
					{% if membership_self and permission.show_form %}
						<li> {{permission.title}}
						___________________________________________________________________________
						<form action="{{permission.action}}" method="POST">
							<table>
								{{permission.form}}
								<tr><td colspan="2">
									{% if permission.can_edit %}
										<input type="submit" value="{% trans 'Grabar' %}">
									{% endif %}
								</td></tr>
							</table>

							{% csrf_token %}
							<input type="hidden" name="form_id" id="form_id" value="{{membership_self.id}}">
						</form>
						</li>
					{% endif %}
			</div>
		{% endif %}
	{% endfor %}

<input type="hidden" id="profile_type" value="{{profile_type}}">
</div>
