.mcheckbox-container {
  display: inline-block;
  vertical-align: middle;
  height: 160px;
  overflow: auto;
}
.mcheckbox-table {
  margin-right: 20px;
  width: 100%;
}
.mcheckbox-table tr:hover {
  background: #eee;
}
.mcheckbox-table td {
  border: 1px solid #eee;
}
.mcheckbox-label {
  width: 100% !important;
}