{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block result_list %}
  {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
 <div id="toolbar">
	<table>
		<tr>
			<td>{% trans "Base Emeseses (€)" %}</td>
			<td>{% trans "IVA Facturat (€)" %}</td>
			<td>{% trans "IVA Assignat (€)" %}</td>
			<td>{% trans "Total Emeses  (€)" %} </td>

			<td>{% trans "Base Despeses (€)" %}</td>
			<td>{% trans "IVA Facturat (€)" %}</td>
			<td>{% trans "IRPF (€)" %}</td>
			<td>{% trans "Total Despeses  (€)" %} </td>

			<td>{% trans "Total IVA oficial" %}</td>
			<td>{% trans "Total IVA assignat" %}</td>
			<td>{% trans "Estalvi IVA" %}</td>
			<td>{% trans "Estalvi IVA Donació" %} </td>

			<td>{% trans "Total IVA" %}</td>
			<td>{% trans "Total IRPF" %}</td>
			<td>{% trans "Total Quotes" %}</td>
			<td>{% trans "Total Quotes Avançades" %} </td>

			<td>{% trans "Total Donaciones" %}</td>
			<td>{% trans "Total Quotes + Donacions" %}</td>
			<td>{% trans "Total a pagar" %} </td>
		</tr>
		<tr>
			<td>{{sales_base}}</td>
			<td>{{sales_invoiced_vat}}</td>
			<td>{{sales_assigned_vat}}</td>
			<td>{{sales_total}}</td>

			<td>{{purchases_base}}</td>
			<td>{{purchases_vat}}</td>
			<td>{{purchases_irpf}}</td>
			<td>{{purchases_total}}</td>

			<td>{{oficial_vat_total}}</td>
			<td>{{assigned_vat_total}}</td>
			<td>{{savings_with_assigned_vat}}</td>
			<td>{{savings_with_assigned_vat_donation}}</td>

			<td>{{total_vat}}</td>
			<td>{{total_irpf}}</td>
			<td>{{period_tax}}</td>
			<td>{{advanced_tax}}</td>

			<td>{{donation}}</td>
			<td>{{total}}</td>
			<td>{{total_to_pay}}</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>

			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>

			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>

			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>

			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
</div>
  {% result_list cl %}
  {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
{% endblock %}
      