{% extends "public_base.html" %}
{% load i18n admin_urls admin_static admin_modify %}
{% block extrahead %}{{ block.super }}
	<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
	<script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
	<script type="text/javascript" src="{% static 'create_membership.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'create_membership.css' %}" />
{% endblock %}
 {% block content_title %}{{message_desc}}{{content_title}}</i></p> </h1>{% if title %}<h1>{{ cl.opts.verbose_name_plural|capfirst }}</h1>{% endif %}{% endblock %}
{% block content %}

	<div id="content-main">
		
		<br>
		{% if form.non_field_errors %}<p><strong>{{ form.non_field_errors }}</strong></p>{% endif %}
		<label class="public_form" for="public_form">{% trans "Formulari On-line" %}</label><br />
		<sup> <p>{{ tag_top }}</p>
		<form action="{% url reverse_string %}" method="post">
			<table>
				<tr><th>{{form.type_person.label_tag}}</th><td>{{form.type_person}}</td></tr>
			</table>
			<br>
			<div class="forms_create">
				<div id="type_section">
					<table>
						<tr><th>{{form.type.label_tag}}</th><td>{{form.type}}</td></tr>
					</table>
				</div>
				<div id="user_section" class="form-row">
					<h3>{% trans "Dades usuari" %}</h3>
					<table>
						<tr><th>{{form.username.label_tag}}</th><td>{{form.username}}{{form.username.errors}}</td><td rowspan="4">{{profile_user}}</td></tr>
						<tr><th>{{form.email.label_tag}}</th><td>{{form.email}}{{form.email.errors}}</td></tr>
						<tr><th>{{form.password1.label_tag}}</th><td>{{form.password1}}{{form.password1.errors}}</td></tr>
						<tr><th>{{form.password2.label_tag}}</th><td>{{form.password2}}{{form.password2.errors}}</td></tr>
					</table>
				</div>
				<br>
				<div id="public_section" class="form-row">
					<h3>{% trans "Dades persona" %}</h3>
					<table>
						<tr><th>{{form.nickname.label_tag}}</th><td>{{form.nickname}}{{form.nickname.errors}}</td><td rowspan="6">{{profile_person}}</td></tr>
						<tr><th>{{form.name.label_tag}}</th><td>{{form.name}}{{form.name.errors}}</td></tr>
						<tr><th>{{form.surnames.label_tag}}</th><td>{{form.surnames}}</td></tr>
						<tr><th>{{form.id_card.label_tag}}</th><td>{{form.id_card}}{{form.id_card.errors}}</td></tr>
						<tr><th>{{form.telephone_land.label_tag}}</th><td>{{form.telephone_land}}{{form.telephone_land.errors}}</td></tr>
						<tr><th>{{form.telephone_cell.label_tag}}</th><td>{{form.telephone_cell}}{{form.telephone_cell.errors}}</td></tr>
					</table>
				</div>
				<br>
				<div id="project_section" class="form-row" >
					<h3>{% trans "Dades Projecte" %}</h3>
					<table>
						<tr><th>{{form.project_name.label_tag}}</th><td>{{form.project_name}}{{form.project_name.errors}}</td><td rowspan="2">{{profile_project}}</td></tr>
						<tr><th>{{form.project_website.label_tag}}</th><td>{{form.project_website}}{{form.project_website.errors}}</td></tr>
					</table>
				</div>
				<div id="actions_section">
					<br>

				</div>
				<input type="submit" value="{% trans 'Envia el formulari' %}" /><br><p>{% trans tag_send %}</p>
			</div>
			<br>
			{% csrf_token %}
		</form>
	</div>
{% endblock %}
{% block foot_content %}
	{% if foot_content != "" %}
		{% include foot_content %}
	{% endif %}
{% endblock %}
