.member .menu{
	text-shadow: 5px 5px 5px #FF0000;
}

.admin .menu{
	text-shadow: 5px 5px 5px #00FF00;
}

.admin .menu{
	text-shadow: 5px 5px 5px #00FF00;
}
.member{
	border: 2px solid;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
	padding: 15px 15px;
}

