
{% load i18n admin_urls admin_static admin_modify %}

	<link rel="stylesheet" type="text/css" href="{% static 'entry_page_to_gestioCI.css' %}" />
	<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
	<script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'jquery-ui-1.9.2.custom.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
	<script type="text/javascript" src="{% static 'entry_page_to_gestioCI.js' %}"></script>

	<div id="content-main">
		<div class="entry_page">
			<h1>{% trans "Pàgina d'entrada a gestioCI" %}</h1>
			<input type="hidden" id="profile_type" value="{{profile_type}}">
			<div class="ui-tabs">
				<ul class="ui-tabs-nav">
					<li class="admin member iC_Welcome iC_Person_Membership iC_Project_Membership iC_Akin_Membership anon"><a href="#tabs-1">{% trans "Pestanya 1: Alta Projecte Col·lectiu / Projecte Públic / Soci Individual (Cooperatiu o Afí)" %}</a></li>
					<li class="admin member  iC_Welcome iC_Project_Membership iC_Person_Membership"><a href="#tabs-2">{% trans "Pestanya 2: Alta Projecte Autoocupat" %}</a></li>
					<li class="admin member iC_SelfEmployed iC_Stallholder"><a href="#tabs-3">{% trans "Pestanya 3: Facturació autoocupats" %}</a></li>
					<li class="admin  iC_Welcome "><a href="#tabs-4">{% trans "Pestanya 4: Assessorament projectes..." %}</a></li>
					<li class="admin member anon iC_Welcome iC_Person_Membership iC_Akin_Membership iC_Project_Membership"><a href="#tabs-5">{% trans "F.A.Q." %}</a></li>
				</ul>

				<div id="tabs-1" class="ui-tabs-panel">
					<h3>{% trans "Formulari On-line..." %}</h3>
					<div id="P2_admin" class="admin iC_Welcome">
						<h4 class="menu"><a href="/admin/Welcome">{% trans "... Panel Admin" %}</a></h4>
						<ul id="P2_admin_menu" class="menu">
							<li>
								{% trans "... Altes Socis Projectes Col·lectius CI" %}
								<a href="/admin/Welcome/ic_project_membership/add/" class="addlink">&nbsp;</a>
								<a href="/admin/Welcome/ic_project_membership/" class="changelink">&nbsp;</a>
							</li>
							<li>
								{% trans "... Altes Socis Projectes Públics CI" %}
								<a href="/admin/Welcome/ic_project_membership/add/" class="addlink">&nbsp;</a>
								<a href="/admin/Welcome/ic_project_membership/" class="changelink">&nbsp;</a>
							</li>
							<li>
								{% trans "... Altes de Socis Afins CI" %}
								<a href="/admin/Welcome/ic_akin_membership/add/" class="addlink">&nbsp;</a>
								<a href="/admin/Welcome/ic_akin_membership/" class="changelink">&nbsp;</a>
							</li>
							<li>
								{% trans "... Altes Socis Cooperatius Individuals CI" %}
								<a href="/admin/Welcome/ic_person_membership/add/" class="addlink">&nbsp;</a>
								<a href="/admin/Welcome/ic_person_membership/" class="changelink">&nbsp;</a>
							</li>
						</ul>
					</div>
					<div id="P2_member" class="member anon">
						<h4 class="menu"><a href="/cooper/Welcome">{% trans "... Panel Altes Socis" %}</a></h4>
						<ul id="P2_member_menu" class="menu">
							<li class="iC_Project_Membership">
								{% trans "... Altes Socis Projectes Col·lectius CI " %}
								<a id="menu_iC_Project_Membership" href="javascript:void(0);" class="addlink">&nbsp;</a>
								{% if record_type_id == 8 %}
									<a id="menu_iC_Project_Membership" href="/cooper/Welcome/ic_project_membership/{{membership_id}}" class="changelink">&nbsp;</a>
								{% endif %}
							</li>
							<li class="iC_Akin_Membership">
								{% trans "... Altes de Socis Afins CI " %}
								<a id="menu_iC_Akin_Membership" href="javascript:void(0);" class="addlink">&nbsp;</a>
								{% if record_type_id == 10%}
									<a href="/cooper/Welcome/ic_akin_membership/{{membership_id}}" class="changelink">&nbsp;</a>
								{% endif %}
							</li>
							<li class="iC_Person_Membership">
								{% trans "... Altes Socis Cooperatius Individuals CI " %}
								<a id="menu_iC_Person_Membership" href="javascript:void(0);" class="addlink">&nbsp;</a>
								{% if record_type_id == 7%}
									<a id="menu_iC_Person_Membership" href="/cooper/Welcome/ic_person_membership/{{membership_id}}" class="changelink">&nbsp;</a>
								{% endif %}
							</li>
						</ul>
						<p class="menu"><a href="/public_form">{% trans "... públic" %}</a></p>
					</div>
				</div>
				<div id="tabs-2" class="ui-tabs-panel">
					<div id="P1_admin" class="admin iC_Welcome">
						{% trans "Admin: " %} 
						<h3>{% trans "Formulari Autoocupats Presencial..." %}</h3>
						<h4 class="menu"> <a href="/Welcome">{% trans "... Panel Admin" %}</a></h4>
						<ul id="P1_admin_menu" class="menu">
							<li>
								{% trans "... Altes Proj. Autoocupats" %}
								<a href="/admin/Welcome/ic_self_employed/add/" class="addlink">&nbsp;</a>
								<a href="/admin/Welcome/ic_self_employed/" class="changelink">&nbsp;</a>
							</li>
							<li>
								{% trans "... Altes Proj. Autoocupats Firaires" %}
								<a href="/admin/Welcome/ic_stallholder/add/" class="addlink">&nbsp;</a>
								<a href="/admin/Welcome/ic_stallholder/" class="changelink">&nbsp;</a>
							</li>
						</ul>
						<input type="hidden" id="record_type_id" value="{{record_type_id}}">
					</div>
					<div id="P1_member" class="member anon">
						{% trans "Públic" %}: <h3> {% trans "Alta de Socis" %}</h3>
						<ul id="P1_member_menu">
							<li>
								<article>
									<header>
										<h4>{% trans "Fase 1: Sessions Acollida i  Avaluació:" %}</h4>
									</header>
									<div id="P1_member_article_F1_text">
										<p align="justify">{% trans "En primer lugar, debéis pedir cita para asistir a las sesiones de Acogida y de Evaluación, llamando al teléfono&nbsp;692 576 854 o bien escribiendo al correo" %} <a href=	"mailto:horesautoocupats@cooperativaintegral.cat" target="_blank">horesautoocupats@cooperativaintegral.cat</a>.</p>
										<p align="justify">{% trans "La sesión de Acogida en Barcelona (Àurea Social, Sardenya&nbsp;263) será a elegir entre de mañana (10:30-11:30h) y de tarde (16:00-17:00h)." %}</p>
										<p align="justify">{% trans "La sesión de acogida en Banyoles (Carrer de la Muralla, 26) sólo será de mañana (10:30-11:30h)." %}</p>
										<p align="justify">{% trans "A continuación, haréis la sesión de Evaluación, de 30 minutos, según la hora que hayamos dado." %}</p>
										<p align="justify">{% trans "Los próximos días de Acogida y de Evaluación previstos son:" %}</p>
										<ul>
											<li>{% trans "Barcelona: 3 septiembre – 10 septiembre – 24 sept (sin sesión de Acogida) – 8 octubre – 22 octubre" %}</li>
											<li>{% trans "Banyoles: 4 septiembre – 25 septiembre – 2 octubre – 16 octubre" %}</li>
										</ul>
									</div>
									<footer>  
										<a itemprop="discussionUrl" href="http://cooperativa.cat/es/participa-2/quieres-hacerte-socio-autonomo/">{% trans "més info" %}...</a> 
									</footer>
								</article> 
							</li>
							<li>
								<article>
									<header><h4>{% trans "Fase 2: Inscripció on-line a Acollida i Avaluació..." %}</h4></header>
									<p class="menu"> <a href="/admin/Welcome/learn_session">{% trans "... Calendari de sessions" %}</a></p>
								</article> 
							</li>
						</ul>
					</div>
				</div>
				<div id="tabs-3" class="ui-tabs-panel">
					<h2></h2>
						<h3>{% trans "Mòdul de Facturació del Software de GestióCI..." %}</h3>
						<div id="P3_admin" class="admin">
							<ul id="P3_admin_menu" class="menu">
								<li><a href="/admin/Invoices">{% trans "... Panel Admin" %}</a></li>
							</ul>
						</div>
						<div id="P3_member" class="member">
							<ul id="P3_member_menu" class="menu">
								<li><a href="/cooper/Invoices">{% trans "... Panel Soci Autoocupat " %}</a></li>
							</ul>
						</div>
				</div>
				<div id="tabs-4" class="ui-tabs-panel">
					<div id="P4_admin" class="admin iC_Welcome">
						<ul id="P4_admin_menu" class="menu">
							<li>{% trans "... Admin: Expedients P.Productius" %} <a href="/admin/Welcome/project_accompaniment/add/" class="addlink">&nbsp;</a>
							<a href="/admin/Welcome/project_accompaniment/" class="changelink">&nbsp;</a></li>
						</ul>
					</div>
				</div>
				<div id="tabs-5" class="ui-tabs-panel">
					<div id="P5_member" class="member anon iC_Welcome">
						<ul id="p5_member_menu" class="menu">
							<li><a href="http://cooperativa.cat/es/participa-2/quieres-hacerte-socio-autonomo/">Quiero hacerme socio, ¿cómo?</a></li>
						</ul>
					</div>
				</div>
			</div>
			<p class="public_form_anchor">&nbsp;</p>
			
			<div id="actions_section">
				<br><br>
				<img src="{% static moment_img %}"><br>
				<br><br>
			</div>
			<input type="hidden" id="show_create_form" value="{{show_create_form}}">
			<div class="public_form" style="display:inline-block;">
			<br>
			</div>
			<br>
		</div>

	</div>

