{% load i18n admin_urls admin_static admin_modify %}

<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'profile_type.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'profile_type.css' %}" />


<p>{% trans "Perfil detectat:" %}</p>

<p><u>{% trans "Grups dels que formes part" %}</u>:
<ul>
{% for permission in user_permissions.all %}
	<li><a href="/cooper/Welcome/{{permission|lower}}/{{membership_id}}">{% trans "Editar Alta de tipus:" %} {{permission}}</a></li>
	{% if permission|lower == "ic_akin_membership" %}
		<li>
			{% trans "&nbsp;" %}<br>
			<form action="/public_form/link_project_to_member/" method="post">
				<table>
					{{Akin_project}}
				</table>
				<input type="submit" value="{% trans 'Estableix projecte vinculat' %}" /><br><p>{% trans tag_send %}</p>
				<input type="hidden"name="membership_id" value="{{membership_id}}" />
				{% csrf_token %}
			</form>
		</li>
	{% endif %}
{% endfor %}
{% if user_permissions%}
	<li><a href="/cooper/General/person/{{profile_person.id}}">{% trans "Editar dades personals" %}</a></li>
{% else %}
	<li>{% trans "Procés d'alta" %}</li>
{% endif %}
</ul></p>

<h1>{{profile_desc}}</h1>

	<div class="users">
		<div class="admin user">
			<label>{% trans "Administrador" %}</label><br>
			<img src="{% static 'Admin_user.png' %}" width="100px">
		</div>
		{% if profile_type %}
		<a href="{{user_url}}">
			<div class="member user">
				<label>{% trans "Group: " %}{{profile_type}}</label><br>
				<img src="{% static 'Group_user.png' %}" width="100px">
			</div>
		</a>
		{% endif %}
		<div class="anon user">
			<label>{% trans "-" %}</label><br>
			<img id="profile_image" src="{% static 'Anon_user.png' %}" width="100px">
		</div>
	</div>

<input type="hidden" id="profile_type" value="{{profile_type}}">

