.forms {
	
}
.users{
	display:inline;
	position:absolute;
	height:100%;
}
.user {
	text-align:left;
	float: left;
    width: 200px;
    margin: 5px;
	
}
.user img{
	margin-left:25px;
	margin-top:5px;
	height: 75px;
	width: 75px;
	right: 50px;
}

.user .linksection{
	text-align:left;
}