{% extends "public_form_base_0.html" %}
{% load i18n admin_urls admin_static admin_modify %}
{% block title %} {% trans "CIC | Gesti&oacute; Integral de Cooperatives" %} {% endblock %}

{% block branding %}
	<h1 id="site-name"><a href="{% url 'admin:index' %}">{% trans "CIC | Gesti&oacute; Integral Cooperatives" %}</a></h1>
	{% include 'admin/change_language.html' %} <br>	<br>
{% endblock %}

{% block nav-global %}
	
{% endblock %}

{% block assistant_session %}
	<div id="learn_session">
		{% load public_form_tag  %}
		{% block session_list %}
			{% with request.GET.learn_session_id|default:0 as current_session %}
				{% sessions_tag request %}
				{% with request.GET.human_id|default:0 as current_human %}

					{% human_tag current_human %}
						<div class="form-row" >
							<form action="/public_form/save_form_self_employed/" method="POST">
								<table>
									<tr><td colspan="2">
										<label>{{current_human|get_class}} {{current_human}} {{current_human.self_link}}</label><br>
										<ul>
										{% for project in current_human|get_projects %}
											<li><img class="user_grid" src="{% static 'user_images/Project_user.png' %}"> {{project.human}}
											<a onclick='return showRelatedObjectLookupPopup(this);' 
											href="/admin/General/project/{{project.human|get_id}}/?_popup=1"> - {% trans " Editar" %}</a></li>
										{% endfor %}
										</ul>
									</tr>
									<tr><td colspan="2">
										{% if current_memberships %}
											<ul>{% for m in current_memberships %}
												<li>{{m}}<a onclick='return showRelatedObjectLookupPopup(this);'
												href="/admin/Welcome/{{m.record_type.clas|lower}}/{{m|get_id}}/?_popup=1"> - {% trans " Editar" %}</a></li>
												{% endfor %}
											</ul>
										{% endif %}
										{% if current_memberships_self %}
											<ul>{% for m in current_memberships_self %}
													<li>{{m}}<a onclick='return showRelatedObjectLookupPopup(this);'
													href="/admin/Welcome/{{m.record_type.clas|lower}}/{{m|get_id}}/?_popup=1"> - {% trans " Editar" %}</a></li>
												{% endfor %}
											</ul>
										{% endif %}
										{% if current_memberships_stallholder %}
											<ul>{% for m in current_memberships_stallholder %}
													<li>{{m}}<a onclick='return showRelatedObjectLookupPopup(this);'
													href="/admin/Welcome/{{m.record_type.clas|lower}}/{{m|get_id}}/?_popup=1"> - {% trans " Editar" %}</a></li>
												{% endfor %}</ul>
										{% endif %}
									</td></tr>
									<tr><td colspan="2"><label>
										{% if current_session %}
											{{ current_session}} <a 
											onclick='return showRelatedObjectLookupPopup(this);'
											href="/admin/Welcome/learn_session/{{current_session|get_id}}/?next=/admin/public_form/human_proxy/?learn_session_id={{current_session|get_id}}/?_popup=1"> {% trans "Editar" %}</a>
										{% else %}
											{% trans "Cap sessió seleccionada: agafa una sessió del filtre a la barra lateral de la dreta." %}
										{% endif %}
										</label></td></tr>
									{% if dont_memberships %}
										{{current_sesion_form.as_table}}
									{% endif %}
									{% if current_human and current_session and has_session and dont_memberships %}
										<tr><td colspan="2"><input type="submit" value="{% trans 'Actualitzar dades' %}"></td></tr>
									{% elif current_session and current_human.id and dont_memberships %}
										<tr><td colspan="2"><input type="submit" value="{% trans "Establir que " %}{{current_human}}{% trans " ha assistit a aquesta sessió d'Acollida" %}"{{current_session}}></td></tr>
									{% endif %}
									{% if not dont_memberships %}
									<tr><td colspan="2"><label>
										{% if current_coin_session %}
											{{ current_coin_session}} <a 
											onclick='return showRelatedObjectLookupPopup(this);'
											href="/admin/Welcome/learn_session/{{current_session|get_id}}/?next=/admin/public_form/human_proxy/?learn_session_id={{current_coin_session|get_id}}/?_popup=1"> {% trans "Editar" %}</a>
										{% else %}
											{% trans "Cap sessió de moneda social seleccionada: agafa una sessió del filtre a la barra lateral de la dreta." %}
										{% endif %}
										</label></td></tr>

										{% if current_coin_session and current_human and not has_coin_session%}
											<tr><td colspan="2"><input type="submit" value="{% trans 'Establir que ' %}{{current_human}}{% trans ' ha assistit a aquesta sessió de moneda social' %}"{{current_coin_session}}></td></tr>
										{% endif %}
									{% endif %}

								</table>
								<input type="hidden" value="{{public_form_action_value}}" name="public_form_action">
								<input type="hidden" value="{{current_human|get_id}}" name="current_human">
								<input type="hidden" value="{{current_session|get_id}}" name="current_session">
								<input type="hidden" value="{{current_coin_session|get_id}}" name="current_coin_session">
								{% csrf_token %}
							</form>
						</div>

				{% endwith %}
			{% endwith %}
		{% endblock %}
	</div>
{% endblock %}