{% load i18n admin_urls admin_static admin_modify %}
	{% load	invoices_to_finances_tag  %}
	{% human_tag request %}
	{% if not member.is_member %}
		<p>{% trans 'None available' %}</p>
	{% else %}
		<h2>{% trans 'Eina de migració de Geecon to GestioCIv08' %}
		{{ member.avatar }}</h2>
		<br>
		<hr>
		<table width="100%" border=0>
			<tr>
				{% for group_list in member.groups_list %}
					<td>
						<table width="300px" border=0>
							<tr height=27>
								<td >{{group_list.image}}</td> 
							</tr>
							<tr> 
								<td ><span class='mini quiet'>{{group_list.links}}</span></td> 
							</tr> 
						</table>
					</td>
				{% endfor %}
			</tr>
		</table>
		<br>
		<hr>
	{% endif %}
