{% load i18n admin_urls admin_static admin_modify %}
	{% load	tool_upgrader_tag  %}
	{% upgrader_tag request %}
		<h2>{% trans 'Eina de migració de Geecon to GestioCIv08' %}
		{{ statics.avatar }}</h2>
		<br>
		{{ menu }}
		<hr>
		<table width="100%" border=0>
			<tr>
				<td>
					{% if importer %}
						{{importer.process}}
					{% endif %}
				</td>
			</tr>
		</table>
		<table width="100%" border=0>
			<tr>
				{% for group_list in statics.groups_list %}
					<td>
						<table width="300px" border=0>
							<tr height=27>
								<td >{{group_list.image}}</td> 
							</tr>
							<tr> 
								<td ><span class='mini quiet'>{{group_list.links}}</span></td> 
							</tr> 
						</table>
					</td>
				{% endfor %}
			</tr>
		</table>

		<br>
		<hr>
