<!DOCTYPE html>
<html lang="es">

<head>
	<title>Gestion Facturacion CIC</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="style.css" type="test/css">
	<meta name="viewport" content="width=device-width, initial-sclae=1.0">
</head>

<body class="body">

	<header class="main-header">
		<img class="logo" src="img/logo.png">
		<h1>Frase que describe la funcionalidad de la plataforma</h1>
	</header>

	<div class="main-content">

		<div class="content">
			<article class="topcontent">
				<h2>Panel de socios</h2>
				<form class="form-socio" action="" method="">
					<input type="text" placeholder="Usuari@"><br>
					<input type="password" placeholder="Contraseña"><br>
					<input type="submit" value="Ingresar" class="btn-ingreso">
				</form>
					
			</article>

			<article class="bottomcontent">
			
				<div class="bclinks">
					<div class="economia"><a href="#">Panel de comisión economía</a></div>
					<div class="informatica"><a href="#">Panel de comisión informatica</a></div>
				</div>
				
			</article>

		</div>

	</div>


	<footer class="main-footer">
		<p>Creative Commons <a href="#">CICIC</a></p>
	</footer>

</body>







</html>
