{% load admin_static %}
<div style="font-size:13px">
	<p>Barcelona, {{obj.date}}</p>

	<p>Joan Josep Mart&iacute;nez Solana, amb DNI 36937731F com a secretari del Consell Rector de Xarxa Integral de Professionals i Usu&agrave;ries SCCL amb CIF F65343287, certifica que les seg&uuml;ents persones s&oacute;n s&ograve;cies de la cooperativa:</p>
		{{obj.persons}}

	<p>Aix&iacute; mateix, certifica que estan autoritzades per prestar els següents serveis en representaci&oacute; d'aquesta cooperativa i com a part del projecte “{{obj.project}}”, en qualitat de s&ograve;cies volunt&agrave;ries, aix&iacute; com participar en qualsevol activitat d'acord amb els seus estatuts:</p>
	{{obj.jobs_and_address}}


	<p>I perqu&egrave; aix&iacute; consti, es lliura la present certificaci&oacute;,</p>

	<p><img width="400" src="{% static 'signature_XIPU.jpg' %}"></p>

	<p>Joan Josep Mart&iacute;nez Solana<br>
	Secretari Consell Rector<br>
	Xarxa Integral de Professionals i Usu&agrave;ries, SCCL</p>
</div>

