{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}

 {% block object-tools %}
      {% if has_add_permission %}
        <ul class="object-tools">
          {% block object-tools-items %}
            <li>
              {% url cl.opts|admin_urlname:'add' as add_url %}
              <a href="{% add_preserved_filters "/admin/Welcome/ic_person_membership/add" is_popup %}" class="addlink">
				{% trans "Alta de Soci Cooperatiu individual CI"  %}               
              </a>
			 </li>
			 <li>
			  <a href="{% add_preserved_filters "/admin/Welcome/ic_project_membership/add" is_popup %}" class="addlink">
				{% trans "Alta de Projecte Col·lectiu CI"  %}               
              </a>
            </li>
          {% endblock %}
        </ul>
      {% endif %}
    {% endblock %}