{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block result_list %}
  {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
 <div id="toolbar">
	<table>
		<tr>
			<td>{% trans "Base Imposable (€)" %}</td>
			<td>{% trans "IVA Facturat (€)" %}</td>
			<td>{% trans "IRPF (€)" %}</td>
			<td>{% trans "Total Factura  (€)" %} </td>
		</tr>
		<tr>
			<td>{{purchases_base}}</td>
			<td>{{purchases_vat}}</td>
			<td>{{purchases_irpf}}</td>
			<td>{{purchases_total}}</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>
</div>
  {% result_list cl %}
  {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
{% endblock %}
    
