{% load admin_static %}

<p>Barcelona, {{obj.date}}</p>

<p>Joan Josep Mart&iacute;nez Solana, amb DNI 36937731F com a secretari del Consell Rector de Xarxa Integral de Professionals i Usu&agrave;ries SCCL amb CIF F65343287,  certifica que:</p>
	{{obj.persons}}

<p>son socis de la cooperativa, aix&iacute; mateix, certifica que estan autoritzats per per prestar serveis com  {{obj.jobs}} en representaci&oacute; d'aquesta cooperativa, en qualitat de socis voluntaris, aix&iacute; com participar en qualsevol activitat d'acord amb els seus estatuts.

I perquè aix&iacute; consti, es lliura la present certificaci&oacute;,

<img width="400" src="{% static 'signature.jpg' %}">

<p>Joan Josep Mart&iacute;nez Solana
Secretari Consell Rector
Xarxa Integral de Professionals i Usu&agrave;ries, SCCL</p>


